body
{
    background:url('../img/ear_background.jpg') no-repeat center center fixed;
    background-color:burlywood;
}

.middlepart
{
    margin-left:15%;
    margin-top:15%;
    padding:1px 16px;
    height:1000px;
    float:left;
}

.nav
{
    z-index:9999;
    width:15%;
    height:100%;
    float:left;
}

.menupic
{
    width: 140px;
	height: 140px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .9);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .9);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, .9);
}

ul
{
    list-style-type:none;
    margin-left:3%;
}

li
{
    padding-top:50%;
}

.nav, img:hover
{
}