#begin{
    padding-top: 25 px;
    text-align: center;
    text-decoration: none;
}

a{
    color: dimgrey;
}

img{
    border-radius: 15px;
}


label{
    text-align: center;
    align-content: center;
}

.animated.rubberBand {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
