 body{
    background: url('../img/wat_backGround.jpg') no-repeat center center fixed;
    background-color: #1482b5; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    margin-left:15%;
    margin-top:10%;
    padding:1px 16px;
    width:70%;
    height:1000px;
    float:left;
<<<<<<< HEAD
=======
    text-align:center;
    text-shadow: 3px 3px 0px #000;
>>>>>>> 7833a30054cfe320568921dd6a40499ffe7a8ab9
}

p {
    font-size:35px;
    color:white;
    margin-top:10px;
    margin-left:20%;
    float:left;
    text-shadow: 3px 3px 0px #040081;
}


#content, video {
    align:left;
    margin-left:5%;
    margin-top:4%;
}

ul {
    list-style-type:none;
    margin-left:3%;
}

li {
    padding-top:45%;
}

.box
{
    float:left;
    width:1000px;
    height:auto;
    overflow:hidden;
}

h1 {
    font-size:120px;
    color:white;
    text-shadow: 3px 3px 0px #040081;
}

.animated {
    animation-duration:2.5s;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}