body{
    background: url('../img/wat_backGround.jpg') no-repeat center center fixed;
    background-color: #1482b5; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menupic
{
    width: 120px;
	height: 120px;
    padding-bottom: 10px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 30px rgba(255,255,255, 0.9);
	-webkit-box-shadow: 0 0 30px rgba(255,255,255, 0.9);
	-moz-box-shadow: 0 0 30px rgba(255,255,255, 0.9);
}
.container-nav{
    height:100%; 
}

ul{
    margin-right:50%;  
}

li{
    list-style-type: none;
    padding:25%;
}

.nav.menuImages img:hover{ 
    border-radius: 4px solid white;
}
.video{
    padding-top: 50px;
  
}